/* temporary import, import colortheme at the end */
@import url("../../globalStyles/colors.css");

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  padding: 16px;
  border-style: solid;
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: var(--wrapper-radiun);
  box-shadow: var(--box-shadow);
  background-color: var(--fg-color);
  width: 500px;
}

@media (max-width: 1280px) {
  .wrap {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .wrap {
    width: 400px;
  }
}

@media (max-width: 640px) {
  .wrap {
    width: 300px;
  }
}
