.skeleton_cl {
  background-color: var(--skeleton-bg-color);
  border-radius: var(--border-radius);
  animation: pulse 1.5s infinite ease-in-out;
  width: 100%;
  height: 40px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
